$color-main: #7bae37;
$color-light: #bdd69b;
$color-lighter: #d7e6c3;
$color-dark: #3d571b;
$wide: 1600px;
$tablet: 864px;

.body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
  background-color: #ccc;
}

.header,
.footer {
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  box-shadow: inset 0 -1px 3px $color-dark;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $wide;
  }
  &__nav {
    display: flex;
  }
  &__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  &__nav-item {
    display: flex;
    &:nth-child(-n + 3) {
      display: none;
    }
  }

  &__nav-link {
    padding: 0.3em;
    text-decoration-line: none;
    text-transform: capitalize;
    color: #000;
    transition: 0.1s;
    &:hover {
      transform: scale(1.1);
      text-shadow: 0 0 1px $color-dark;
    }
  }
}

.footer {
  gap: 0.5em;
  &__github,
  &__logo {
    height: 2.5em;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__github {
    aspect-ratio: 1;
    background-image: url('../../assets/img/er-github.png');
  }
  &__logo {
    aspect-ratio: 2.7/1;
    background-image: url('../../assets/img/rs_school_js.svg');
  }
}

.main {
  min-width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-lighter;
  box-shadow: 0 0 3px $color-dark;
}

.section__title {
  margin: 0;
  text-transform: capitalize;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-light;
  .section__title {
    align-self: stretch;
    text-align: center;
    background-color: $color-main;
  }
  .contacts__list,
  .skills__list,
  .languages__list {
    list-style-type: '🌼 ';
    padding: 0 0.5em 0 2em;
  }
}

.contacts__link {
  padding-left: 0.1em;
}
.description {
  padding: 0.8em;
  .section__title {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
  .section > *:last-child {
    margin: 10px 0;
  }
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    margin: 0.5em auto;
    height: 16rem;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 2px 5px 1px $color-dark;
  }
}

.code {
  &__wrapper {
    padding: 10px;
    max-width: fit-content;
    background-color: #ffffffa8;
    border: 3px groove #cccccc;
    color: #24292f;
  }
  .hljs-keyword {
    color: #cf222e;
  }

  .hljs-function {
    color: #8250df;
  }

  .hljs-string {
    color: #0a3069;
  }
}

.experience {
  &__table,
  &__title-item,
  &__project-name,
  &__project-platform,
  &__project-type,
  &__project-apl {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    border-collapse: collapse;
  }
  &__table-wrapper {
    overflow-x: auto;
    margin: 15px 0;
  }
  &__title-item {
    background-color: $color-light;
  }
}

.contacts__link,
.experience__project-name-link,
.education__link {
  color: $color-dark;
  &:hover {
    text-shadow: 0 0 1px $color-dark;
  }
}

.body,
.code__wrapper,
.experience__table-wrapper {
  overflow: auto overlay;
  &::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em;
  }
  &::-webkit-scrollbar-track {
    background: $color-lighter;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-main;
    box-shadow: inset 0 0 6px $color-light;
    border-radius: 15px;
  }
}

@media (min-width: $wide) {
  .header__wrapper {
    min-width: $wide;
  }
}

@media (min-width: $tablet) {
  .main {
    flex-direction: row;
  }

  .header__wrapper {
    justify-content: flex-end;
    padding-right: .8em;
  }

  .header__nav-item:nth-child(-n + 3) {
    display: flex;
  }

  .header__nav-link {
    padding: 0.5em;
  }
}
